.accordion {
  width: 40%;
  @media screen and (max-width: 680px) {
    width: 100%;
  }
  .accordion__section {
    height: 40px;
    margin: 5px;
    padding-left: 20px;
    line-height: 2.5;
    color: #47586d;
    font-weight: 900;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #47586d;
    border-radius: 8px;
    @media screen and (max-width: 680px) {
      text-align: center;
    }
  }
  .accordion__section__content {
    color: #637c9c;
    :nth-child(n){
      margin: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      opacity: 0;
      max-height: 0px;
    }
    &.active{
      :nth-child(n){
        visibility: visible;
        margin: 20px 0;
        opacity: 1;
        max-height: 60px;
      }
    }
    @media screen and (max-width: 680px) {
      text-align: center;
    }
  }
}
